<div class="panel-style">
    <div class="panel panel-default">
        <div class="panel-heading">Preparing GitHub contents</div>
        <div class="panel-body">
            <div>Executing ...</div>
            <div class="row">
                <div class="col-xs-6">
                    Elapsed time: {{tick}}
                </div>
            </div>
        </div>
        <div class="pull-right">
            <button type="button" class="btn loading-btn" (click)="cancelBtn()">Cancel</button>
        </div>
    </div>
</div>
