<div class="panel-style">
    <div class="panel panel-default">
        <div class="panel-heading">Loading contents</div>
        <div class="panel-body" style="min-height: 120px;">
            <div class="row">
                <div class="col-xs-6">
                    <p><i class="fa fa-spinner fa-spin fa-1x fa-fw"></i>{{tableName}}</p>
                    <p>{{pages}}</p>
                    <p *ngIf="rowCount > 0">{{rowCount}} rows loaded.</p>
                </div>
            </div>
        </div>
        <div class="pull-right">
            <button type="button" class="btn loading-btn" (click)="skipBtn()">Skip</button>
            <button type="button" class="btn loading-btn" (click)="cancelBtn()">Cancel</button>
        </div>
    </div>
</div>
